<!-- Main Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" href="/"><img src="Assets/images/Logo.png" width="65" height="65" class="img-fluid" alt="">Survey Site</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">

      <% if (title == "Home"){ %>
      <li class="nav-item active">
      <% } else  { %>
      <li class="nav-item">
      <% } %>
        <a class="nav-link" href="/home"><i class="fas fa-house-user"></i> Home </a>
      </li>

      <% if (title == "ActiveSurvey") { %>
      <li class="nav-item active">
      <% } else  { %>
      <li class="nav-item">
      <% } %>
        <a class="nav-link" href="/activesurvey"><i class="fas fa-info-circle"></i> ActiveSurvey </a>
      </li>

      

      <% if (title == "CreateSurvey") { %>
      <li class="nav-item active">
      <% } else  { %>
      <li class="nav-item">
      <% } %>
        <a class="nav-link" href="/createsurvey"><i class="fas fa-cogs"></i> Create Survey </a>
      </li>

      
</nav>