<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
        <h1 class="display-3">Welcome to MetaWebb.</h1>
        <p class="lead">Hello and Welcome! Today we are going to look at the survey conducted. This home page give the brief idea on active surveys and newly added surveys</p>
        <hr class="my-2">
        <p>Please click on the button below to create new survey.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/createsurvey" role="button">Create Survey</a>
        </p>
      </div>
  </main>

<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>